<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Разбираемся с пакетом Context в Golang</h1>
    <br>
    <span>Пакет context в Go полезен при взаимодействиях с API и медленными процессами, особенно в production-grade системах, которые занимаются веб-запросами. С его помощью можно уведомить горутины о необходимости завершить свою работу.


        Ниже небольшое руководство, которое поможет использовать этот пакет в ваших проектах, а также расскажет о некоторых лучших практиках и подводных камнях.
        
        
        (Прим. пер.: Контекст используется во многих пакетах, например, в работе с Docker).
        
        
        Перед тем, как начать
        
        Чтобы использовать контексты, вы должны понимать, что такое горутина и каналы. Я постараюсь кратко их рассмотреть. Если вы с ними уже знакомы, переходите непосредственно к разделу Контекст (Context).
        
        
        Горутина
        
        В официальной документации говорится, что «Горутина — это легковесный поток выполнения». Горутины легче, чем потоки, поэтому управление ими сравнительно менее ресурсозатратно.</span>
</body>
</html>