<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="css/style.min.css?_v=20230927011818">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__logo">
					<a href="#">
						<img src="img/SVG/Logo.svg" alt="Logo">
						<p>Teach</p>
					</a>
				</div>
				<div class="header__menu menu">
					<nav data-spollers="767.98" class="menu__body">
						<ul class="menu__list">
							<li class="menu__item"><a href="#" class="menu__link">Courses</a></li>
						</ul>
						<ul class="menu__list">
							<li class="menu__item"><a href="#" class="menu__link">Master class</a></li>
						</ul>
						<ul class="menu__list">
							<li class="menu__item"><a href="#" class="menu__link">How it works</a></li>
						</ul>
						<ul class="menu__list">
							<li class="menu__item"><a href="#" class="menu__link">About</a></li>
						</ul>
					</nav>
				</div>
				<div data-da=".menu__body, 767.98" class="header__buttons">
					<a href="#" class="header__button-border">Join our course</a>
				</div>
				<button type="button" class="menu__icon icon-menu"><span></span></button>
			</div>
		</header>
		<main class="page">
			<div class="page__main main">
				<div class="main__container">
					<div class="main__text-block text-block">
						<div class="text-block__title">
							<p>Best Digital <img src="img/SVG/twisted-arrow.svg" alt="twisted-arrow"><span></span>Online Courses</p>
						</div>
						<div class="text-block__sub-title">
							<p>Digital online courses provide an accessible and flexible way for individuals to acquire new knowledge and skills in various fields.</p>
						</div>
						<div class="text-block__button">
							<a href="#" class="button-background">Get started</a>
						</div>
					</div>
					<div class="main__image-block image-block">
						<div class="image-block__top">
							<div class="image-block__star">
								<img src="img/SVG/star.svg" alt="star">
							</div>
							<div class="image-block__uiux">
								<div class="uiux-body">
									<div class="uiux-white-cub">
										<img src="img/SVG/uiux-white-cub.svg" alt="white-cub">
									</div>
									<div class="uiux-orange-cub">
										<img src="img/SVG/uiux-orange-cub.svg" alt="orange-cub">
									</div>
									<p>UI / UX</p>
								</div>
							</div>
						</div>
						<div class="image-block__title-image">
							<picture><source srcset="img/IMAGE/main-page-image.webp" type="image/webp"><img src="img/IMAGE/main-page-image.jpg" alt="main-page-image"></picture>
						</div>
						<div class="image-block__bottom">

							<div class="image-block__uipatterns uipatterns">
								<div class="uipatterns-title">
									UI Design Patterns
								</div>
								<div class="uipatterns__info">
									<div class="uipatterns__user-icon">
										<picture><source srcset="img/IMAGE/user-vernoica-icon.webp" type="image/webp"><img src="img/IMAGE/user-vernoica-icon.jpg" alt="vernoica-icon"></picture>
									</div>
									<div class="uipatterns__text text">
										<div class="text-name">
											Vernoica
										</div>
										<div class="text-course course">
											<div class="course-icon">
												<img src="img/SVG/file.svg" alt="file">
											</div>
											<div class="course-text">
												123 course
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="image-block__karen karen">
								<div class="karen-icon">
									<picture><source srcset="img/IMAGE/user-karen-icon.webp" type="image/webp"><img src="img/IMAGE/user-karen-icon.jpg" alt="karen-icon"></picture>
								</div>
								<div class="karen-info">
									<div class="karen-name-and-price">
										<p class="karen-name">Karen</p>
										<p class="karen-price">$45 h</p>
									</div>
									<div class="karen-sub-name">
										UI/UX designer
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page__info info">
				<div class="info__container">
					<div class="info__blocks blocks">
						<div class="blocks__green green-blocks">
							<div class="green-background">
								<img class="image-background" src="img/SVG/green-block.svg" alt="green-background">

								<div class="green__blocks-image">
									<div class="green__blocks-big-image">
										<picture><source srcset="img/IMAGE/green-blok-big-image.webp" type="image/webp"><img src="img/IMAGE/green-blok-big-image.jpg" alt="green-big-image"></picture>
									</div>
									<div class="green__blocks-small-image small-image">
										<div class="small-image-1">
											<picture><source srcset="img/IMAGE/green-block-image1.webp" type="image/webp"><img src="img/IMAGE/green-block-image1.jpg" alt="green-small-image-1"></picture>
										</div>
										<div class="small-image-2">
											<picture><source srcset="img/IMAGE/green-block-image2.webp" type="image/webp"><img src="img/IMAGE/green-block-image2.jpg" alt="green-small-image-2"></picture>
										</div>
									</div>
								</div>
								<div class="green__blocks-text blocks-text">
									<div class="blocks-text">
										Study at your own place
									</div>
								</div>
								<div class="green__blocks-button blocks-button">
									<div class="blocks-button-arrow">
										<a href="#"><img src="img/SVG/arrow-right.svg" alt="arrow-right"></a>
									</div>
								</div>

							</div>
						</div>
						<div class="blocks__gray gray-blocks">
							<div class="gray-blocks-icons">
								<div class="gray-blocks-camera">
									<img src="img/SVG/camera.svg" alt="camera">
								</div>
								<div class="gray-blocks-online">
									Online
								</div>
							</div>
							<div class="gray-blocks-text">
								The learning process is simple
							</div>
						</div>

					</div>
					<div class="info__stats stats">
						<div class="stats-numbers">
							<div class="stats-column">
								<div class="stats-body">
									<div class="stats-number">
										231+
									</div>
									<div class="stats-text">
										Courses & subjects
									</div>
								</div>
								<div class="stats-body">
									<div class="stats-number">
										319+
									</div>
									<div class="stats-text">
										Instructors
									</div>
								</div>
								<div class="stats-body">
									<div class="stats-number">
										72k+
									</div>
									<div class="stats-text">
										Using the app
									</div>
								</div>
							</div>
						</div>
						<div class="stats__users users">
							<div class="users-icons">
								<div class="user-icon-1">
									<picture><source srcset="img/IMAGE/users-icon1.webp" type="image/webp"><img src="img/IMAGE/users-icon1.jpg" alt="user-icon"></picture>
								</div>
								<div class="user-icon-2">
									<picture><source srcset="img/IMAGE/users-icon2.webp" type="image/webp"><img src="img/IMAGE/users-icon2.jpg" alt="user-icon"></picture>
								</div>
								<div class="user-icon-3">
									<picture><source srcset="img/IMAGE/users-icon3.webp" type="image/webp"><img src="img/IMAGE/users-icon3.jpg" alt="user-icon"></picture>
								</div>
								<div class="user-icon-4">
									<picture><source srcset="img/IMAGE/users-icon4.webp" type="image/webp"><img src="img/IMAGE/users-icon4.jpg" alt="user-icon"></picture>
								</div>
								<div class="user-icon-5">
									<picture><source srcset="img/IMAGE/users-icon5.webp" type="image/webp"><img src="img/IMAGE/users-icon5.jpg" alt="user-icon"></picture>
								</div>
							</div>
							<div class="users__quantity quantity">
								<div class="quantity-numbers">
									+72k
								</div>
								<div class="quantity-text">
									Happy student
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="page__courses courses">
				<div class="courses__container">
					<div class="courses__body">
						<div class="courses__title">
							<p>Most Popular Courses <span><img src="img/SVG/twisted-arrow.svg" alt="twisted-arrow"></span> <img class="disappearing-arrow" src="img/SVG/twisted-arrow-top.svg" alt="twisted-arrow-top"></p>
						</div>
						<div class="courses__sub-title">
							Start an increrible UI/UX design course with us. You can learn the most requested digital courses.
						</div>
						<div class="courses__ui ui">
							<div class="uiux-design">
								UX/UI Design
							</div>
							<div class="ui-design">
								UI Design
							</div>
							<div class="uiux-design">
								UX/UI Design
							</div>
						</div>
					</div>
					<!-- Оболочка слайдера -->
					<div class="courses__slider swiper">
						<!-- Двигающееся часть слайдера -->
						<div class="courses__wrapper swiper-wrapper">
							<!-- Слайд -->
							<div class="courses__slide swiper-slide">
								<div class="courses__sliders sliders">
									<div class="sliders__first-slide first-slide">
										<div class="first-slide__image">
											<picture><source srcset="img/IMAGE/slider-image1.webp" type="image/webp"><img src="img/IMAGE/slider-image1.jpg" alt="slider-image"></picture>
										</div>
										<div class="first-slide__info-block info-block">
											<div class="info-block__student student">
												<div class="student__icons icons-student">
													<div class="icons-student__1">
														<picture><source srcset="img/IMAGE/users-icon1.webp" type="image/webp"><img src="img/IMAGE/users-icon1.jpg" alt="user-icon"></picture>
													</div>
													<div class="icons-student__2">
														<picture><source srcset="img/IMAGE/users-icon2.webp" type="image/webp"><img src="img/IMAGE/users-icon2.jpg" alt="user-icon"></picture>
													</div>
													<div class="icons-student__3">
														<picture><source srcset="img/IMAGE/users-icon3.webp" type="image/webp"><img src="img/IMAGE/users-icon3.jpg" alt="user-icon"></picture>
													</div>
												</div>
												<div class="student__number student-number">
													<div class="student-number__quantity">
														+154
													</div>
													<div class="student-number__text">
														Student
													</div>
												</div>
											</div>
											<div class="info-block__body">
												<div class="info-block__title">
													UI/UX design
												</div>
												<div class="info-block__sub-title">
													Professional certification
												</div>
											</div>
											<div class="info-block__bottom bottom">
												<div class="bottom__text">
													Join class
												</div>
												<div class="bottom__button">
													<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="courses__slide swiper-slide">
								<div class="courses__sliders2 sliders2">
									<div class="sliders__two-slide two-slide">
										<div class="two-slide__image">
											<picture><source srcset="img/IMAGE/slider-image2.webp" type="image/webp"><img src="img/IMAGE/slider-image2.jpg" alt="slider-image"></picture>
										</div>
										<div class="two-slide__info-block info-block">
											<div class="info-block__student student">
												<div class="student__icons-two icons-student-two">
													<div class="icons-student__1">
														<picture><source srcset="img/IMAGE/users-icon1.webp" type="image/webp"><img src="img/IMAGE/users-icon1.jpg" alt="user-icon"></picture>
													</div>
													<div class="icons-student__2">
														<picture><source srcset="img/IMAGE/users-icon2.webp" type="image/webp"><img src="img/IMAGE/users-icon2.jpg" alt="user-icon"></picture>
													</div>
													<div class="icons-student__3">
														<picture><source srcset="img/IMAGE/users-icon3.webp" type="image/webp"><img src="img/IMAGE/users-icon3.jpg" alt="user-icon"></picture>
													</div>
												</div>
												<div class="student__number student-number">
													<div class="student-number__quantity">
														+154
													</div>
													<div class="student-number__text">
														Student
													</div>
												</div>
											</div>
											<div class="info-block__body">
												<div class="info-block__title">
													UI/UX design
												</div>
												<div class="info-block__sub-title">
													Professional certification
												</div>
											</div>
											<div class="info-block__bottom bottom">
												<div class="bottom__text">
													Join class
												</div>
												<div class="bottom__button">
													<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Если нужна пагинация -->
						<div class="swiper-pagination"></div>
						<!-- Если нужна навигация (влево/вправо) -->
						<button type="button" class="swiper-button-prev"></button>
						<button type="button" class="swiper-button-next"></button>
						<!-- Если нужен скролбар -->
						<div class="swiper-scrollbar"></div>
					</div>
				</div>
			</div>
			<div class="page__whoweare whoweare">
				<div class="whoweare__container">
					<div class="whoweare__image image__whoweare">
						<div class="image__whoweare-small-blocks small-blocks">
							<div class="small-blocks__gray-cub gray-cub">
								<div class="gray-cub__title">
									UI/UX Design
								</div>
								<div class="gray-cub__sub-title gray__sub-title">
									<div class="gray__sub-title__icon">
										<picture><source srcset="img/IMAGE/users-icon4.webp" type="image/webp"><img src="img/IMAGE/users-icon4.jpg" alt="user-icon"></picture>
									</div>
									<div class="gray__sub-title__text-info text-info">
										<div class="text-info__name">
											Anika
										</div>
										<div class="text-info__courses info-courses">
											<div class="info-courses__icon">
												<img src="img/SVG/file.svg" alt="file">
											</div>
											<div class="info-courses__text">
												123 courses
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="small-blocks__image">
							<picture><source srcset="img/IMAGE/small-image-whoweare.webp" type="image/webp"><img src="img/IMAGE/small-image-whoweare.jpg" alt="small-image-whoweare"></picture>
						</div>
					</div>
					<div class="image__whoweare-big-image big-image">
						<div class="big-image__main">
							<picture><source srcset="img/IMAGE/big-image-whoweare.webp" type="image/webp"><img src="img/IMAGE/big-image-whoweare.jpg" alt="big-image-whoweare"></picture>
						</div>
						<div class="big-image__bottom-icon">
							<img src="img/SVG/star.svg" alt="star">
						</div>
					</div>

					<div class="whoweare__text">
						<div class="whoweare__text-title">
							Who We Are
						</div>
						<div class="whoweare__text-paragraph text-paragraph-1">
							<div class="text-paragraph__icon-1">
								<img src="img/SVG/triangle.svg" alt="triangle">
							</div>
							<div class="text-paragraph__text-1">
								We value open communication, creativity, and a customer-centric approach in all our endeavours.
							</div>
						</div>
						<div class="whoweare__text-paragraph text-paragraph-2">
							<div class="text-paragraph__icon-2">
								<img src="img/SVG/load.svg" alt="load">
							</div>
							<div class="text-paragraph__text-2">
								Our team is composed of individuals with expertise in areas such as software development, design, project management, data analysis, marketing, and customer support.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page__advantages advantages">
				<div class="advantages__container">
					<div class="advantages__image image__advantages">
						<div class="image__advantages-column">
							<div class="image__advantages-boby advantages-boby__1">
								<div class="advantages-boby__image">
									<picture><source srcset="img/IMAGE/courses-image1.webp" type="image/webp"><img src="img/IMAGE/courses-image1.jpg" alt="courses-img"></picture>
								</div>
								<div class="advantages-boby__sub-image sub-image">
									<div class="sub-image__title">
										<div class="sub-image-title__text">
											Schedule With Mentor
										</div>
										<div class="sub-image-title__button">
											<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow"></a>
										</div>
									</div>
									<div class="sub-image__sub-title">
										Every successful digital marketing campaign must be driven.
									</div>
								</div>
							</div>
							<div class="image__advantages-boby advantages-boby__2">
								<div class="advantages-boby__image">
									<picture><source srcset="img/IMAGE/courses-image2.webp" type="image/webp"><img src="img/IMAGE/courses-image2.jpg" alt="courses-img"></picture>
								</div>
								<div style="background-color: #C2DEB8" class="advantages-boby__sub-image sub-image">
									<div class="sub-image__title">
										<div class="sub-image-title__text">
											Discussion Session
										</div>
										<div class="sub-image-title__button">
											<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow"></a>
										</div>
									</div>
									<div class="sub-image__sub-title">
										Every successful digital marketing campaign must be driven.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="advantages__big-text big-text">
						Why <span><picture><source srcset="img/IMAGE/text-image.webp" type="image/webp"><img src="img/IMAGE/text-image.jpg" alt="image-on-text"></picture></span> Choose Our Courses <img src="img/SVG/circle-orange.svg" alt="circle-orange">
					</div>
				</div>
			</div>
			<div class="page__subcscribe subcscribe">
				<div class="subcscribe__container">
					<div class="subcscride__text">
						Subscribe To The Page For More Information
					</div>
					<div class="subcscride__input ">
						<input autocomplete="off" type="email" name="form[email]" data-error="Введен не верный E-mail" pattern="\S+@[a-z]+.[a-z]+" placeholder="Mail" class="input">
						<div class="subscribe__button">
							<button><img src="img/SVG/mail.svg" alt="mail"></button>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__info info-footer">
					<div class="info-footer__logo">
						<img src="img/SVG/Logo.svg" alt="Logo">
						<p>Teach</p>
					</div>
					<div class="info-footer__sub-logo">
						Start an incredible UI/UX design course with us. You can learn the most requested digital
					</div>
					<div class="info-footer__menu">
						<a href="#">Facebook</a>
						<a href="#">Twitter</a>
						<a href="#">Instagram</a>
					</div>
				</div>
				<div class="footer__info-menu">
					<div class="info-menu__link info-menu-link">
						<span>01</span>
						<div class="info-menu-link__title">
							Courses
						</div>
						<div class="info-menu-link__button">
							<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow-top-right"></a>
						</div>
					</div>
					<div class="info-menu__link info-menu-link">
						<span>02</span>
						<div class="info-menu-link__title">
							Master class
						</div>
						<div class="info-menu-link__button">
							<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow-top-right"></a>
						</div>
					</div>
					<div class="info-menu__link info-menu-link">
						<span>03</span>
						<div class="info-menu-link__title">
							How it works
						</div>
						<div class="info-menu-link__button">
							<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow-top-right"></a>
						</div>
					</div>
					<div class="info-menu__link info-menu-link">
						<span>04</span>
						<div class="info-menu-link__title">
							About
						</div>
						<div class="info-menu-link__button">
							<a href="#"><img src="img/SVG/Arrow-top-right.svg" alt="arrow-top-right"></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->

	<script src="js/app.min.js?_v=20230927011818"></script>
</body>

</html>